body {
    background-color: purple;
	font-size: 14px;
	font-size: larger;
}

#page {
	 background-color: lavender;
	 margin: 40% auto;
	 border-style: ridge;
	 border-color: black;
	 
}

h1 {
	font-size: larger;
	
}

h2 {
	font-size: larger;
	
}

.entete {
	text-align: center; 
	font-size: larger;
	
}

#aboutme {
	font-size: larger; 
	color: fuchsia; 
	margin-top: 20px;
	
}

footer {
	text-align: center;

}

.photo {
    width: 150px;    
    height: auto;   
    object-fit: contain;
    margin: 0 10px;
	
}